.bg-image {
    background-image: url('./img-proyectos/fondo-cuadricula-digital-futurista-azul-oscuro.webp'); /* Reemplaza 'empresa.jpg' con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura según tus preferencias */
}

/* Centra el contenido verticalmente */
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #fff; /* Color del texto */
}